altgraph==0.17
bgtunnel==0.4.1
click==8.1.3
emailer @ git+https://github.com/northriverboats/emailer.git@d21772067e3c330519dc907437253623dba0f91c
mysql-tunnel @ git+https://github.com/northriverboats/mysql-tunnel@fb06b6f3949890a0cb44435dc55de4ffcd6cdc71
mysqlclient==1.3.13
pkg_resources==0.0.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
python-dotenv==0.10.1
zipp==1.2.0
